# Sphinx documentation
docs/_build
docs/auto_paper_cluster/
docs/auto_paper_results/
docs/auto_single_simulation/
docs/modules/generated/
docs/datasets/generated/
docs/generated/
*.pdf
/data
.ipynb_checkpoints
# Distribution / packaging
*.egg-info/

# Pycharm
.idea

# Byte-compiled / optimized / DLL files
__pycache__/

# Python environment
regconn_env/
